In [2]:
import requests
import json
import pandas as pd
import numpy as np

houses_sold = pd.read_csv('kc_house_data.csv').drop(['id', 'date', 'yr_renovated', 'zipcode', 'sqft_living15', 'sqft_lot15'], axis=1)
houses_for_sale = pd.read_csv('forSale.csv')

In [3]:
houses_for_sale['zip'] = houses_for_sale['address'].str[-5:].astype(int)
kc_zips = pd.read_csv('kc_zips.txt', sep='	')
kc_zips = kc_zips.iloc[:, 0]
houses_for_sale = houses_for_sale[houses_for_sale['zip'].isin(kc_zips)]
houses_for_sale = houses_for_sale.drop('zip', axis=1)
houses_for_sale.describe()
houses_for_sale = houses_for_sale[['price', 'beds', 'baths', 'baths_full', 'baths_half', 'sqft_raw', 'lot_size', 'lat', 'lon']].rename(columns={'beds': 'bedrooms', 'lat': 'latitude', 'lon': 'longitude', 'lot_size': 'sqft_lot', 'sqft_raw': 'sqft', 'price_raw': 'price'})
houses_sold = houses_sold.drop(['floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built'], axis=1).rename(columns={'sqft_living': 'sqft', 'lat': 'latitude', 'long': 'longitude'})
houses_sold.describe()
houses_for_sale['price'] = houses_for_sale['price'].str.replace(r'\D+', '')
houses_for_sale['price'] = houses_for_sale['price'].astype(float)
houses_for_sale.loc[houses_for_sale['sqft_lot'].str.contains('sq ft') == True, 'sqft_lot'] = houses_for_sale['sqft_lot'].str.replace(r'[^0-9.]', '')
houses_for_sale.loc[houses_for_sale['sqft_lot'].str.contains('acres') == True, 'sqft_lot'] = houses_for_sale['sqft_lot'].str.replace(r'[^0-9.]', '').astype(float) * 43560
houses_for_sale['sqft_lot'] = houses_for_sale['sqft_lot'].astype(float)
houses_for_sale = houses_for_sale.dropna()
houses_for_sale.describe()
houses_sold['sqft'] = houses_sold['sqft'].astype(float)
houses_sold['sqft_lot'] = houses_sold['sqft_lot'].astype(float)
houses_sold.drop(houses_sold[houses_sold['bedrooms'] == 0].index, inplace=True)
houses_sold.drop(houses_sold[houses_sold['bathrooms'] < 1].index, inplace=True)
houses_sold = houses_sold.dropna()
houses_sold.drop(houses_sold[houses_sold['bedrooms'] == 33].index, inplace=True)
houses_sold.describe()
houses_for_sale['baths_half'].fillna(0, inplace=True)
houses_for_sale['baths_full'].fillna(0, inplace=True)
houses_for_sale['bathrooms'] = houses_for_sale['baths_full'] + (houses_for_sale['baths_half'] / 2)
houses_for_sale = houses_for_sale[houses_for_sale['bathrooms'] > 0].drop(['baths', 'baths_full', 'baths_half'], axis=1)
houses_for_sale = houses_for_sale[list(houses_sold.columns)]
houses_for_sale.describe()

,price,bedrooms,bathrooms,sqft,sqft_lot,latitude,longitude
count,1.149000e+03,1149.000000,1149.000000,1149.000000,1.149000e+03,1149.000000,1149.000000
mean,1.069199e+06,3.743255,2.724543,2727.362924,2.722189e+04,47.515664,-122.200571
std,1.206985e+06,0.844773,0.873570,1251.900218,1.659849e+05,0.151200,0.119134
min,2.579500e+05,2.000000,1.500000,580.000000,4.360000e+02,47.189501,-122.502297
25%,5.750000e+05,3.000000,2.500000,1950.000000,4.792000e+03,47.373756,-122.295864
50%,7.750000e+05,4.000000,2.500000,2549.000000,7.405000e+03,47.538517,-122.196759
75%,1.200000e+06,4.000000,2.500000,3290.000000,1.176120e+04,47.644254,-122.121324
max,2.000000e+07,7.000000,8.500000,19000.000000,5.096520e+06,47.799142,-121.969077

In [18]:
houses_for_sale.columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft', 'sqft_lot', 'latitude',
       'longitude'],
      dtype='object')

In [19]:
houses_for_sale.shape

(1149, 7)

In [24]:
houses_for_sale[houses_for_sale['longitude'] == -122.341617]

Empty DataFrame
Columns: [price, bedrooms, bathrooms, sqft, sqft_lot, latitude, longitude]
Index: []

In [25]:
houses_for_sale.dtypes

price        float64
bedrooms       int64
bathrooms    float64
sqft         float64
sqft_lot     float64
latitude     float64
longitude    float64
dtype: object

In [21]:
houses_for_sale.head()

        price  bedrooms  bathrooms    sqft  sqft_lot   latitude   longitude
5    549950.0         2        1.5  1326.0     436.0  47.683442 -122.376457
6   1915000.0         4        3.5  3610.0    6098.0  47.615038 -122.287834
13   700000.0         5        2.5  2860.0   19602.0  47.511299 -122.163993
16   559000.0         4        1.5  1860.0    7841.0  47.501025 -122.161689
20   725000.0         4        3.5  2100.0    6970.0  47.546932 -122.307435

In [26]:
CLIENT_ID = 'EFRCH3WCWDQ3DBHURMC0TGZIRF1AD5X5NPW5DCCEXT1KXPXW' # your Foursquare ID
CLIENT_SECRET = 'WQ4RQAI010LS3XXNR0E0TZNT0M10IM43OQMAWU5LYSWBTP20' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

def getNearbyVenues(latitudes, longitudes, radius=500):
    venues_list=[]
    nearby_venues = pd.DataFrame()
    for lat, lng in zip(latitudes, longitudes):
        print(lat, lng)
        try:
            url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
                CLIENT_ID, 
                CLIENT_SECRET, 
                VERSION, 
                lat, 
                lng, 
                radius, 
                100)
            results = requests.get(url).json()["response"]['groups'][0]['items']
            venues_list.append([(
                lat, 
                lng, 
                v['venue']['name'], 
                v['venue']['location']['lat'], 
                v['venue']['location']['lng'],  
                v['venue']['categories'][0]) for v in results])
            nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
            nearby_venues.columns = [ 
                      'Neighborhood Latitude', 
                      'Neighborhood Longitude', 
                      'Venue', 
                      'Venue Latitude', 
                      'Venue Longitude', 
                      'Venue Category']
        except Exception as e:
            print(e)
    return(nearby_venues, venues_list)

# venues, venues_list = getNearbyVenues(houses_sold['latitude'][6000:6500], houses_sold['longitude'][6000:6500])
# venues.to_csv('6500.csv')
venues, venues_list = getNearbyVenues(houses_for_sale['latitude'][800:6500], houses_for_sale['longitude'][800:6500])
venues.to_csv('ven.csv')

47.382583000000004 -122.406869
47.527553999999995 -122.031158
47.435906 -122.16583100000001
47.33777 -122.35179199999999
47.326172 -122.169256
47.609575 -122.309848
47.631190000000004 -121.986415
47.363879 -122.04440600000001
47.251166999999995 -122.19128300000001
47.282076 -122.33896499999999
47.4455 -122.1481
47.4455 -122.1481
47.3143 -122.0163
47.3143 -122.0163
47.316961 -122.37784199999999
47.638178 -122.34178899999999
47.676007 -122.195206
47.4455 -122.1481
47.2648 -122.2476
47.748705 -122.11735800000001
47.48919 -122.352404
47.258145 -122.19989299999999
47.259956 -122.22166599999998
47.4455 -122.1481
47.65440200000001 -122.352979
47.459362 -121.98364
47.319423 -122.198167
47.553957000000004 -122.261757
47.31948 -122.199352
47.521276 -122.35603700000001
47.455767 -122.088975
47.337695000000004 -122.33211399999999
47.671544 -122.18883799999999
47.388158000000004 -122.189085
47.577103 -121.997025
47.368915 -122.045146
47.371755 -122.218451
47.34959600000001 -122.302931
47.492634 -122.153596
47.703974 -122.380812
47.564374 -122.13651200000001
47.590268 -122.05765500000001
47.354943 -121.989015
47.518201 -122.203653
47.508905 -122.33889199999999
47.279878000000004 -122.294683
47.636255 -122.123427
47.495382 -122.33626000000001
47.53968 -121.996247
47.454997999999996 -122.37263700000001
47.328854 -122.18111100000002
47.549709 -122.36091699999999
47.321806 -122.05343
47.647334 -122.38791
47.633406 -122.318749
47.583778 -122.29473600000001
47.281513000000004 -122.26350900000001
47.675723 -122.195128
47.572527 -122.405649
47.660722 -122.320609
47.506895 -122.269466
47.519138 -122.377801
47.651702 -122.383178
47.724065 -122.03014499999999
47.356747999999996 -122.15135
47.346808 -122.472016
47.5713 -122.2286
47.450773999999996 -122.13217399999999
47.448645 -122.353936
47.647723 -122.069782
47.418483 -121.98283
47.557876 -122.226621
47.21542 -121.99166699999999
47.24752 -122.21597
47.67259 -122.25854199999999
47.334742999999996 -122.19718200000001
47.209708 -122.041179
47.689356 -122.093791
47.706028 -122.30466299999999
47.681563 -122.286794
47.376816 -122.03108200000001
47.490679 -122.149492
47.328919 -122.364574
47.347615999999995 -122.144998
47.641982 -122.05558300000001
47.32729000000001 -122.161445
47.48805 -122.137201
47.692726 -122.35838500000001
47.281295 -122.26401100000001
47.614801 -122.30798700000001
47.590948 -121.987946
47.359718 -122.034699
47.524659 -122.280673
47.296981 -122.35200900000001
47.683306 -122.394145
47.520167 -122.17576799999999
47.387088 -122.098968
47.6237 -122.0428
47.3727 -122.1988
47.342463 -122.136124
47.330773 -122.175455
47.572474 -122.214428
47.386549 -122.214106
47.301832 -122.127311
47.280128999999995 -122.347517
47.67612800000001 -122.19479399999999
47.679641 -122.03286000000001
47.326218 -122.328103
47.541221 -122.265033
47.247744 -122.191942
47.697094 -122.204479
47.335737 -122.07083300000001
47.52699000000001 -122.205546
47.699286 -122.23173
47.357685 -122.31748300000001
47.762138 -122.357731
47.3143 -122.0163
47.552152 -122.174535
47.513474 -122.358052
47.571952 -122.13951200000001
47.585916 -122.248102
47.493283 -122.240137
47.587723 -122.39563400000002
47.493793 -122.095542
47.531057000000004 -122.20148400000001
47.542617 -122.120465
47.702068 -122.196825
47.747341 -122.261192
47.3626 -122.1199
47.6237 -122.0428
47.729299 -122.283883
47.282384 -122.26461299999998
47.513389000000004 -122.389999
47.4455 -122.1481
47.660257 -122.288941
47.590808 -122.197948
47.4455 -122.1481
47.2922 -122.1655
47.4455 -122.1481
47.283703 -122.008234
47.448825 -122.15451499999999
47.724241 -122.22034199999999
47.504838 -122.15499399999999
47.448336 -122.27539499999999
47.632444 -122.310257
47.6237 -122.0428
47.584526000000004 -122.01628899999999
47.632922 -122.239314
47.302735 -122.07134099999999
47.301778999999996 -122.071795
47.634059 -122.208032
47.303504 -122.07313300000001
47.468543 -122.133008
47.718318 -122.02355700000001
47.36862100000001 -122.01866499999998
47.619111 -122.235371
47.304214 -122.20838700000002
47.384778999999995 -122.22314899999999
47.3143 -122.0163
47.708023 -122.206577
47.57268300000001 -122.143244
47.469901 -122.27504099999999
47.522801 -122.19886499999998
47.726407 -122.23718799999999
47.2648 -122.2476
47.555273 -122.305355
47.281733 -122.263973
47.564863 -122.15499399999999
47.2648 -122.2476
47.2648 -122.2476
47.281294 -122.263527
47.762344 -122.31498
47.3727 -122.1988
47.259405 -122.218708
47.630278999999994 -122.204228
47.6237 -122.0428
47.682496 -122.281485
47.6237 -122.0428
47.4455 -122.1481
47.283462 -122.26507600000001
47.673041999999995 -122.26593600000001
47.43313300000001 -122.17703600000002
47.416245 -122.0351
47.488763 -122.33994299999999
47.53966 -122.28098700000001
47.669715000000004 -122.281524
47.251647999999996 -122.038074
47.4455 -122.1481
47.70398 -122.10158899999999
47.488490999999996 -122.22273500000001
47.617103 -122.29057
47.584162 -122.08421000000001
47.640987 -122.23651399999999
47.623954 -122.306201
47.328590999999996 -122.18142900000001
47.325943 -122.37834699999999
47.420465 -122.346084
47.6237 -122.0428
47.6874 -122.3798
47.644655 -122.00103700000001
47.282682 -122.26489299999999
47.3143 -122.0163
47.236416999999996 -122.07356100000001
47.585 -122.0283
47.630638 -122.09206699999999
47.637541999999996 -122.325427
47.4455 -122.1481
47.639205 -122.164578
47.364872 -122.159873
47.4455 -122.1481
47.604503 -122.28643999999998
47.627696 -122.215484
47.511355 -122.36911
47.691578 -122.039695
47.4455 -122.1481
47.585 -122.0283
47.67361500000001 -122.198816
47.766011999999996 -122.31159299999999
47.3143 -122.0163
47.585 -122.0283
47.368167 -122.0542
47.622834999999995 -122.01608
47.263138 -122.199509
47.552377 -122.38183799999999
47.4455 -122.1481
47.3143 -122.0163
47.601391 -122.29765
47.3143 -122.0163
47.601941 -122.29766599999999
47.387088 -122.098968
47.3143 -122.0163
47.281991999999995 -122.264909
47.265862 -122.306376
47.3143 -122.0163
47.622715 -122.016077
47.538103 -121.98239199999999
47.675596999999996 -121.997767
47.588923 -122.253551
47.673201 -122.290494
47.6874 -122.3798
47.5161 -122.055232
47.327426 -122.181455
47.2648 -122.2476
47.509058 -122.344376
47.494987 -122.231677
47.281184 -122.26353700000001
47.581351 -122.378864
47.284046000000004 -122.06366000000001
47.3143 -122.0163
47.683108000000004 -122.202729
47.555582 -122.20970600000001
47.759122 -122.352052
47.62804000000001 -122.21592199999999
47.64089 -122.184122
47.743836 -122.371148
47.746292 -122.37010500000001
47.60664600000001 -122.19768799999999
47.4455 -122.1481
47.280497 -122.248543
47.49609 -122.15711200000001
47.651515 -122.04541299999998
47.485205 -122.133614
47.602624 -122.20478999999999
47.639429 -121.988607
47.762257 -122.20038899999999
47.676352 -122.151397
47.4566 -122.27071799999999
47.3143 -122.0163
47.605607 -122.130544
47.2648 -122.2476
47.579184999999995 -122.120245
47.3143 -122.0163
47.762253 -122.200698
47.433671999999994 -122.328961
47.338322 -122.258376
47.334802 -122.36291299999999
47.3143 -122.0163
47.322913 -122.401823
47.585 -122.0283
47.5604 -122.1516
47.4455 -122.1481
47.614551 -122.231981
47.633474 -122.395394
47.4455 -122.1481
47.429746 -122.194869
47.68207 -122.34289
47.456635999999996 -122.27087399999999
47.544802000000004 -122.210178
47.3861 -122.0293
47.3143 -122.0163
47.639386 -122.239701
47.732381 -122.11509699999999
47.282314 -122.264918
47.565391999999996 -122.13983600000002
47.574252 -122.138979
47.723487 -122.256028
47.4455 -122.1481
47.4455 -122.1481
47.370125 -122.020831
47.565182 -122.16731399999999
47.37223400000001 -122.040819
47.4455 -122.1481
47.43313300000001 -122.17703600000002
47.4455 -122.1481
47.392109999999995 -122.171146
47.596982000000004 -122.20223200000001
47.544979999999995 -122.31995800000001
47.543746 -122.319938
47.529246 -122.318244
47.75815 -122.260709
47.3861 -122.0293
47.685198 -122.176273
47.285092999999996 -122.33886100000001
47.4455 -122.1481
47.4455 -122.1481
47.4455 -122.1481
47.585 -122.0283
47.693932000000004 -122.18941299999999
47.522915999999995 -122.27561899999999
47.592396 -122.05812
47.3626 -122.1199
47.561308000000004 -122.211275
47.203569 -122.01243000000001
47.4455 -122.1481
47.461490999999995 -122.357523
47.4455 -122.1481
47.585 -122.0283
47.53516 -122.26964
47.226601 -122.072576
47.687344 -122.305132
47.511403 -122.242325
47.319502 -122.34563
47.339864 -122.335857
47.440469 -122.152997
47.640132 -122.234853
47.462720000000004 -121.99081399999999
47.439721999999996 -122.12598799999999
47.43972 -122.12585700000001
47.502214 -122.23016799999999
47.4455 -122.1481
47.47278 -122.07459399999999
47.3861 -122.0293
47.589566999999995 -122.28529499999999
47.337392 -122.11022
47.528527000000004 -122.15058400000001
47.577011 -121.98350900000001
47.617832 -122.311251
47.404871 -122.48919199999999
47.290702 -122.18952900000001

In [5]:
df = pd.read_csv("6500.csv")
df.columns

Index(['Unnamed: 0', 'Neighborhood Latitude', 'Neighborhood Longitude',
       'Venue', 'Venue Latitude', 'Venue Longitude', 'Venue Category'],
      dtype='object')

In [6]:
total = pd.read_csv("total.csv")
total.columns

Index(['Unnamed: 0', 'Neighborhood Latitude', 'Neighborhood Longitude',
       'Venue', 'Venue Category', 'Venue Latitude', 'Venue Longitude'],
      dtype='object')

In [7]:
df = df[list(total.columns)]

In [10]:
df.shape

(3780, 7)

In [11]:
total.shape

(20974, 7)

In [13]:
df = pd.concat([total, df], ignore_index=True)
df.shape

(45728, 7)

In [15]:
df = df.drop('Unnamed: 0', axis=1)
df

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Category,Venue Latitude,Venue Longitude
0,47.5112,-122.257,Delightful Desserts,"{'id': '4bf58dd8d48988d1d0941735', 'name': 'De...",47.509913,-122.260640
1,47.5112,-122.257,Upper Rainier Beach,"{'id': '52e81612bcbc57f1066b7a11', 'name': 'Gu...",47.507828,-122.256179
2,47.5112,-122.257,Hutchinson Playground,"{'id': '4bf58dd8d48988d1e8941735', 'name': 'Ba...",47.513665,-122.260623
3,47.5112,-122.257,Hutchinson Playground,"{'id': '4bf58dd8d48988d1e7941735', 'name': 'Pl...",47.513404,-122.261846
4,47.7210,-122.319,Java Jane,"{'id': '4bf58dd8d48988d1e0931735', 'name': 'Co...",47.722454,-122.316508
5,47.7210,-122.319,Amante,"{'id': '4bf58dd8d48988d1ca941735', 'name': 'Pi...",47.718363,-122.318383
6,47.7210,-122.319,Seattle Drum School,"{'id': '4bf58dd8d48988d1e9931735', 'name': 'Ro...",47.719770,-122.312640
7,47.7210,-122.319,7-Eleven,"{'id': '4d954b0ea243a5684a65b473', 'name': 'Co...",47.719113,-122.313160
8,47.7210,-122.319,Licorice Fern Natural Area on Thornton Creek,"{'id': '4bf58dd8d48988d163941735', 'name': 'Pa...",47.722444,-122.316559
9,47.7210,-122.319,Mani's Kitchen,"{'id': '4bf58dd8d48988d10f941735', 'name': 'In...",47.718486,-122.318517
10,47.7210,-122.319,Thornton Creek Park #1,"{'id': '4bf58dd8d48988d163941735', 'name': 'Pa...",47.723318,-122.317121
11,47.7210,-122.319,Jackson Park P-Patch,"{'id': '4bf58dd8d48988d15a941735', 'name': 'Ga...",47.724290,-122.318140
12,47.7210,-122.319,Bus Stop @ NE 125th St & 15th Ave NE,"{'id': '52f2ab2ebcbc57f1066b8b4f', 'name': 'Bu...",47.719636,-122.312808
13,47.7210,-122.319,State Liquor Store,"{'id': '4bf58dd8d48988d186941735', 'name': 'Li...",47.720966,-122.312432
14,47.7379,-122.233,Locksmith Kirkland WA,"{'id': '52f2ab2ebcbc57f1066b8b1e', 'name': 'Lo...",47.740971,-122.231705
15,47.7379,-122.233,cafeteria,"{'id': '4bf58dd8d48988d120951735', 'name': 'Fo...",47.734382,-122.230902
16,47.5208,-122.393,The Original Bakery,"{'id': '4bf58dd8d48988d16a941735', 'name': 'Ba...",47.520627,-122.390363
17,47.5208,-122.393,Wildwood Market And Eatery,"{'id': '50be8ee891d4fa8dcc7199a7', 'name': 'Ma...",47.520879,-122.390189
18,47.5208,-122.393,Endolyne Joe's,"{'id': '4bf58dd8d48988d14e941735', 'name': 'Am...",47.520554,-122.390529
19,47.5208,-122.393,Cove Park,"{'id': '4bf58dd8d48988d163941735', 'name': 'Pa...",47.522963,-122.393685
20,47.5208,-122.393,Metro Stop 19670,"{'id': '4bf58dd8d48988d1fe931735', 'name': 'Bu...",47.523312,-122.392899
21,47.5208,-122.393,Kilbourne Park,"{'id': '4bf58dd8d48988d163941735', 'name': 'Pa...",47.521505,-122.389219
22,47.5208,-122.393,Fauntleroy Ferry Terminal,"{'id': '4e74f6cabd41c4836eac4c31', 'name': 'Pi...",47.523227,-122.395347
23,47.5208,-122.393,Ferry Boat Cafe,"{'id': '4bf58dd8d48988d1ca941735', 'name': 'Pi...",47.523252,-122.395569
24,47.5208,-122.393,Hiyu,"{'id': '4bf58dd8d48988d12d951735', 'name': 'Bo...",47.523109,-122.396649
25,47.5208,-122.393,Chelan Ferry,"{'id': '4bf58dd8d48988d12d951735', 'name': 'Bo...",47.523204,-122.397551
26,47.5208,-122.393,Issaquah,"{'id': '4bf58dd8d48988d12d951735', 'name': 'Bo...",47.523116,-122.397679
27,47.5208,-122.393,M/V Cathlamet,"{'id': '4bf58dd8d48988d12d951735', 'name': 'Bo...",47.523209,-122.398304
28,47.6168,-122.045,The Penguin's Igloo,"{'id': '4bf58dd8d48988d1e9941735', 'name': 'Sk...",47.615825,-122.047722
29,47.6168,-122.045,Bus Stop 81667,"{'id': '52f2ab2ebcbc57f1066b8b4f', 'name': 'Bu...",47.616313,-122.050837
...,...,...,...,...,...,...
45698,47.5227,-122.372,Tony's Market,"{'id': '50be8ee891d4fa8dcc7199a7', 'name': 'Ma...",47.521324,-122.376454
45699,47.5227,-122.372,GameStop,"{'id': '4bf58dd8d48988d10b951735', 'name': 'Vi...",47.521633,-122.367580
45700,47.5227,-122.372,Westwood Village,"{'id': '4bf58dd8d48988d1fd941735', 'name': 'Sh...",47.521685,-122.366950
45701,47.5227,-122.372,Bed Bath & Beyond,"{'id': '4bf58dd8d48988d1f8941735', 'name': 'Fu...",47.522839,-122.367141
45702,47.5227,-122.372,QFC,"{'id': '52f2ab2ebcbc57f1066b8b46', 'name': 'Su...",47.522052,-122.365966
45703,47.5227,-122.372,7-Eleven,"{'id': '4d954b0ea243a5684a65b473', 'name': 'Co...",47.520662,-122.376225
45704,47.5227,-122.372,Barnes and Noble Cafe,"{'id': '4bf58dd8d48988d1e0931735', 'name': 'Co...",47.521948,-122.368152
45705,47.5227,-122.372,JC's Deli,"{'id': '4bf58dd8d48988d146941735', 'name': 'De...",47.522736,-122.376900
45706,47.5227,-122.372,Metro Stop 22557,"{'id': '52f2ab2ebcbc57f1066b8b4f', 'name': 'Bu...",47.521029,-122.367506
45707,47.5227,-122.372,24 Hour Fitness,"{'id': '4bf58dd8d48988d175941735', 'name': 'Gy...",47.522526,-122.366257
45708,47.5227,-122.372,Sleep Country USA - West Seattle,"{'id': '52f2ab2ebcbc57f1066b8b27', 'name': 'Ma...",47.522530,-122.366733
45709,47.5227,-122.372,West Seattle Eye Clinic,"{'id': '522e32fae4b09b556e370f19', 'name': 'Ey...",47.524364,-122.366089
45710,47.5539,-122.001,Grand View Park,"{'id': '4bf58dd8d48988d163941735', 'name': 'Pa...",47.554100,-121.996346
45711,47.5539,-122.001,Issaquah Highlands Bark Park,"{'id': '4bf58dd8d48988d1e5941735', 'name': 'Do...",47.554161,-121.997992
45712,47.5539,-122.001,Dahlia Park,"{'id': '4bf58dd8d48988d163941735', 'name': 'Pa...",47.554478,-122.000923
45713,47.5539,-122.001,issaquah Highlands trailhead,"{'id': '4bf58dd8d48988d159941735', 'name': 'Tr...",47.556549,-121.998388
45714,47.4291,-122.292,Angle Lake Park,"{'id': '4bf58dd8d48988d163941735', 'name': 'Pa...",47.428212,-122.293409
45715,47.4291,-122.292,Residence Inn by Marriott Seattle Sea-Tac Airport,"{'id': '4bf58dd8d48988d1fa931735', 'name': 'Ho...",47.426172,-122.295092
45716,47.4291,-122.292,7-Eleven,"{'id': '4d954b0ea243a5684a65b473', 'name': 'Co...",47.432347,-122.295925
45717,47.4291,-122.292,"Country Inn & Suites by Radisson, Seattle-Taco...","{'id': '5bae9231bedf3950379f89cb', 'name': 'In...",47.431498,-122.294280
45718,47.4291,-122.292,Hampton by Hilton,"{'id': '4bf58dd8d48988d1fa931735', 'name': 'Ho...",47.429061,-122.296304
45719,47.4291,-122.292,Thrifty,"{'id': '4bf58dd8d48988d1ef941735', 'name': 'Re...",47.433038,-122.294778
45720,47.4291,-122.292,Cha Cha Thai,"{'id': '4bf58dd8d48988d149941735', 'name': 'Th...",47.430541,-122.295571
45721,47.4291,-122.292,Super 8,"{'id': '4bf58dd8d48988d1fb931735', 'name': 'Mo...",47.431390,-122.294582
45722,47.4291,-122.292,Silver Dollar Casino,"{'id': '4bf58dd8d48988d17c941735', 'name': 'Ca...",47.430157,-122.294731
45723,47.4291,-122.292,Masae's Teriyaki,"{'id': '4bf58dd8d48988d111941735', 'name': 'Ja...",47.432395,-122.295862
45724,47.4291,-122.292,Days Inn SeaTac,"{'id': '4bf58dd8d48988d1fa931735', 'name': 'Ho...",47.432679,-122.295776
45725,47.4291,-122.292,Comfort Inn & Suites,"{'id': '4bf58dd8d48988d1fa931735', 'name': 'Ho...",47.429145,-122.295950
45726,47.6106,-122.055,UTurn Handles LLC,"{'id': '4bf58dd8d48988d122951735', 'name': 'El...",47.609502,-122.056624
45727,47.6106,-122.055,Secret Park,"{'id': '4bf58dd8d48988d163941735', 'name': 'Pa...",47.612278,-122.059568

In [16]:
df.to_csv("total.csv")

In [28]:
df = pd.read_csv("ven.csv")
df.columns

Index(['Unnamed: 0', 'Neighborhood Latitude', 'Neighborhood Longitude',
       'Venue', 'Venue Latitude', 'Venue Longitude', 'Venue Category'],
      dtype='object')

In [29]:
total = pd.read_csv("forSaleVenues.csv")
total.columns

Index(['Unnamed: 0', 'Neighborhood Latitude', 'Neighborhood Longitude',
       'Venue', 'Venue Category', 'Venue Latitude', 'Venue Longitude'],
      dtype='object')

In [30]:
df = df[list(total.columns)]

In [31]:
df.shape

(2902, 7)

In [32]:
total.shape

(17204, 7)

In [33]:
df = pd.concat([total, df], ignore_index=True)
df.shape

(20106, 7)

In [34]:
df = df.drop('Unnamed: 0', axis=1)
df

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Category,Venue Latitude,Venue Longitude
0,47.730611,-122.172379,Bartell Drugs,"{'id': '4bf58dd8d48988d10f951735', 'name': 'Ph...",47.732060,-122.174353
1,47.730611,-122.172379,Tony's Sports Bar,"{'id': '4bf58dd8d48988d120941735', 'name': 'Ka...",47.731858,-122.176294
2,47.730611,-122.172379,Factory Donuts,"{'id': '4bf58dd8d48988d148941735', 'name': 'Do...",47.730797,-122.173742
3,47.730611,-122.172379,Pizza Bank,"{'id': '4bf58dd8d48988d1ca941735', 'name': 'Pi...",47.731505,-122.176142
4,47.730611,-122.172379,7-Eleven,"{'id': '4d954b0ea243a5684a65b473', 'name': 'Co...",47.731003,-122.174925
5,47.730611,-122.172379,Amy's Nails,"{'id': '4f04aa0c2fb6e1c99f3db0b8', 'name': 'Na...",47.730920,-122.174884
6,47.730611,-122.172379,Kingsgate Ice Arena,"{'id': '4bf58dd8d48988d168941735', 'name': 'Sk...",47.730387,-122.173684
7,47.730611,-122.172379,Chase Bank,"{'id': '4bf58dd8d48988d10a951735', 'name': 'Ba...",47.731664,-122.174987
8,47.730611,-122.172379,Little Caesars Pizza,"{'id': '4bf58dd8d48988d1ca941735', 'name': 'Pi...",47.730167,-122.174332
9,47.730611,-122.172379,Redbox,"{'id': '4bf58dd8d48988d126951735', 'name': 'Vi...",47.730848,-122.174835
10,47.730611,-122.172379,Pho Than Brothers,"{'id': '4bf58dd8d48988d14a941735', 'name': 'Vi...",47.730172,-122.174001
11,47.730611,-122.172379,Subway,"{'id': '4bf58dd8d48988d1c5941735', 'name': 'Sa...",47.731033,-122.173360
12,47.730611,-122.172379,Safeway,"{'id': '4bf58dd8d48988d118951735', 'name': 'Gr...",47.732518,-122.174091
13,47.730611,-122.172379,Starbucks,"{'id': '4bf58dd8d48988d1e0931735', 'name': 'Co...",47.732421,-122.174398
14,47.730611,-122.172379,Casino Caribbean,"{'id': '4bf58dd8d48988d17c941735', 'name': 'Ca...",47.732055,-122.173174
15,47.730611,-122.172379,Sebastian's Mexican Restaurant,"{'id': '4bf58dd8d48988d1c1941735', 'name': 'Me...",47.730767,-122.174973
16,47.730611,-122.172379,Sebastian's Mexican Restaurant and Cantina,"{'id': '4bf58dd8d48988d1c1941735', 'name': 'Me...",47.730848,-122.174835
17,47.730611,-122.172379,Gourmet Latté,"{'id': '4bf58dd8d48988d1e0931735', 'name': 'Co...",47.730263,-122.175583
18,47.730611,-122.172379,La Malinche,"{'id': '4d4b7105d754a06374d81259', 'name': 'Fo...",47.730315,-122.175609
19,47.730611,-122.172379,Safeway Pharmacy,"{'id': '4bf58dd8d48988d10f951735', 'name': 'Ph...",47.732684,-122.174135
20,47.358163,-122.318999,Planet Fitness - Temporarily Closed,"{'id': '4bf58dd8d48988d176941735', 'name': 'Gy...",47.359172,-122.312539
21,47.358163,-122.318999,Woodmont Beach,"{'id': '4bf58dd8d48988d1e2941735', 'name': 'Be...",47.360144,-122.323240
22,47.227680,-122.440260,Zocalo Tortas,"{'id': '4bf58dd8d48988d1c1941735', 'name': 'Me...",47.223432,-122.441119
23,47.227680,-122.440260,Starbucks,"{'id': '4bf58dd8d48988d1e0931735', 'name': 'Co...",47.223221,-122.440314
24,47.227680,-122.440260,Taqueria La Fondita,"{'id': '4bf58dd8d48988d1c1941735', 'name': 'Me...",47.223282,-122.440459
25,47.227680,-122.440260,Dragon's Crawfish Seafood Restaurant,"{'id': '4bf58dd8d48988d1ce941735', 'name': 'Se...",47.226315,-122.439623
26,47.227680,-122.440260,Tho Tuong BBQ,"{'id': '4bf58dd8d48988d14a941735', 'name': 'Vi...",47.223432,-122.441119
27,47.227680,-122.440260,EZ Food Mart,"{'id': '4d954b0ea243a5684a65b473', 'name': 'Co...",47.229851,-122.434623
28,47.489058,-122.289872,El Pollo Real,"{'id': '4bf58dd8d48988d1c1941735', 'name': 'Me...",47.491106,-122.285287
29,47.195041,-122.433537,U.S. Bank ATM,"{'id': '52f2ab2ebcbc57f1066b8b56', 'name': 'AT...",47.193204,-122.434331
...,...,...,...,...,...,...
20076,47.617832,-122.311251,Thud Suan Kitchen & Bar,"{'id': '4bf58dd8d48988d149941735', 'name': 'Th...",47.616912,-122.307532
20077,47.617832,-122.311251,Chungee's Eat 'n Drink,"{'id': '4bf58dd8d48988d145941735', 'name': 'Ch...",47.618644,-122.316884
20078,47.617832,-122.311251,El Gallito,"{'id': '4bf58dd8d48988d1c1941735', 'name': 'Me...",47.617487,-122.306017
20079,47.617832,-122.311251,Station 7,"{'id': '4bf58dd8d48988d1f8941735', 'name': 'Fu...",47.622221,-122.312492
20080,47.617832,-122.311251,Outer Planet Craft Brewing,"{'id': '50327c8591d4c4b30a586d5d', 'name': 'Br...",47.618050,-122.316821
20081,47.617832,-122.311251,Full Tilt Ice Cream,"{'id': '4bf58dd8d48988d1c9941735', 'name': 'Ic...",47.621453,-122.312591
20082,47.617832,-122.311251,Future Vapor,"{'id': '4bf58dd8d48988d123951735', 'name': 'Sm...",47.618408,-122.316817
20083,47.617832,-122.311251,Starbucks,"{'id': '4bf58dd8d48988d1e0931735', 'name': 'Co...",47.620108,-122.313054
20084,47.617832,-122.311251,Palermo Gourmet Pizza & Pasta,"{'id': '4bf58dd8d48988d10e941735', 'name': 'Gr...",47.621985,-122.312616
20085,47.617832,-122.311251,Bamboo Vietnamese,"{'id': '4bf58dd8d48988d14a941735', 'name': 'Vi...",47.621869,-122.312768
20086,47.617832,-122.311251,Wells Fargo,"{'id': '4bf58dd8d48988d10a951735', 'name': 'Ba...",47.620073,-122.313206
20087,47.617832,-122.311251,T.T. Minor Playfield,"{'id': '4bf58dd8d48988d1e7941735', 'name': 'Pl...",47.613858,-122.310423
20088,47.617832,-122.311251,Subway,"{'id': '4bf58dd8d48988d1c5941735', 'name': 'Sa...",47.621773,-122.312877
20089,47.617832,-122.311251,Capitol Hill Vision,"{'id': '4d954afda243a5684865b473', 'name': 'Op...",47.621802,-122.312612
20090,47.617832,-122.311251,Olive Tree Mediterranean Restaurant,"{'id': '4bf58dd8d48988d1c0941735', 'name': 'Me...",47.621612,-122.312478
20091,47.404871,-122.489192,Misty Isle Farm,"{'id': '4bf58dd8d48988d15b941735', 'name': 'Fa...",47.405097,-122.492485
20092,47.290702,-122.189529,Club Galaxy,"{'id': '4bf58dd8d48988d1e5931735', 'name': 'Mu...",47.290606,-122.195821
20093,47.290702,-122.189529,Coyaba Grill,"{'id': '4bf58dd8d48988d1cc941735', 'name': 'St...",47.290601,-122.196145
20094,47.290702,-122.189529,Muckleshoot Casino,"{'id': '4bf58dd8d48988d17c941735', 'name': 'Ca...",47.290406,-122.194885
20095,47.290702,-122.189529,Shell,"{'id': '4bf58dd8d48988d113951735', 'name': 'Ga...",47.288549,-122.191627
20096,47.290702,-122.189529,ampm,"{'id': '4d954b0ea243a5684a65b473', 'name': 'Co...",47.288789,-122.192868
20097,47.290702,-122.189529,8 - Asian Cuisine @ Muckleshoot Casino,"{'id': '4bf58dd8d48988d142941735', 'name': 'As...",47.290607,-122.196095
20098,47.290702,-122.189529,Flame Burger,"{'id': '4bf58dd8d48988d16c941735', 'name': 'Bu...",47.288535,-122.184807
20099,47.290702,-122.189529,"BSB - Burgers, Spirits, Beer","{'id': '4bf58dd8d48988d155941735', 'name': 'Ga...",47.290232,-122.194723
20100,47.290702,-122.189529,La Rioja,"{'id': '4bf58dd8d48988d1c1941735', 'name': 'Me...",47.288654,-122.185036
20101,47.290702,-122.189529,Muckleshoot Island Deli,"{'id': '4bf58dd8d48988d16e941735', 'name': 'Fa...",47.290589,-122.195565
20102,47.290702,-122.189529,Sweet Shoppe Muckleshoot Casino,"{'id': '4bf58dd8d48988d1d0941735', 'name': 'De...",47.290411,-122.195703
20103,47.290702,-122.189529,Pazzo Coffee,"{'id': '4bf58dd8d48988d1e0931735', 'name': 'Co...",47.288355,-122.184002
20104,47.290702,-122.189529,Teriyaki & Wok,"{'id': '4bf58dd8d48988d142941735', 'name': 'As...",47.288603,-122.183776
20105,47.290702,-122.189529,Spice Bay Buffet at Muckleshoot Indian Casino,"{'id': '4bf58dd8d48988d1ce941735', 'name': 'Se...",47.290351,-122.194664

In [35]:
df.to_csv("forSaleVenues.csv")