# Predicting Sales Prices of Houses in Seattle
### Applied Data Science Capstone offered by Coursera
##### Author: Anshul Modh

### Table of Contents

### Introduction and Business Problem

### Data

In [2]:
import requests
import json
import pandas as pd

host = "realtor.p.rapidapi.com"
key = "1677e25060msh0ac42439fc28d46p1fa7bcjsn3e04907020bb"

headers = {'x-rapidapi-host': host, 'x-rapidapi-key': key}
def findHouses(url, headers):
    query = {"sort":"relevance","radius":"20","city":"Seattle","offset":"0","limit":"200","state_code":"WA"}
    df = pd.DataFrame()
    curOffset = 0
    data = {'returned_rows': 1}
    while(curOffset != 10000 and data.get('returned_rows') != 0):
        try:
            query['offset'] = curOffset
            response = requests.get(url=url, headers=headers, params=query)
            response.text
            data = response.json()
            curOffset += data.get('returned_rows')
            print(str(data.get('returned_rows')) + " rows returned from " + str(data.get('matching_rows')) + " found, currently at row position " +  str(curOffset) + ".")
            if df.empty:
                df = pd.read_json(json.dumps(data.get('listings')))
            else:
                df = df.append(pd.read_json(json.dumps(data.get('listings'))), sort=True)
        except:
            print(response.text)
    return df

In [4]:
url =  "https://realtor.p.rapidapi.com/properties/list-for-sale"
houses_for_sale = findHouses(url, headers)

200 rows returned from 9333 found, currently at row position 200.
200 rows returned from 9333 found, currently at row position 400.
200 rows returned from 9333 found, currently at row position 600.
200 rows returned from 9333 found, currently at row position 800.
200 rows returned from 9333 found, currently at row position 1000.
200 rows returned from 9333 found, currently at row position 1200.
200 rows returned from 9333 found, currently at row position 1400.
200 rows returned from 9333 found, currently at row position 1600.
200 rows returned from 9333 found, currently at row position 1800.
200 rows returned from 9333 found, currently at row position 2000.
200 rows returned from 9333 found, currently at row position 2200.
200 rows returned from 9333 found, currently at row position 2400.
200 rows returned from 9333 found, currently at row position 2600.
200 rows returned from 9333 found, currently at row position 2800.
200 rows returned from 9333 found, currently at row position 3000.
200 rows returned from 9333 found, currently at row position 3200.
200 rows returned from 9333 found, currently at row position 3400.
200 rows returned from 9333 found, currently at row position 3600.
200 rows returned from 9333 found, currently at row position 3800.
200 rows returned from 9333 found, currently at row position 4000.
200 rows returned from 9333 found, currently at row position 4200.
200 rows returned from 9333 found, currently at row position 4400.
200 rows returned from 9333 found, currently at row position 4600.
200 rows returned from 9333 found, currently at row position 4800.
200 rows returned from 9333 found, currently at row position 5000.
200 rows returned from 9333 found, currently at row position 5200.
200 rows returned from 9333 found, currently at row position 5400.
200 rows returned from 9333 found, currently at row position 5600.
200 rows returned from 9333 found, currently at row position 5800.
200 rows returned from 9333 found, currently at row position 6000.
200 rows returned from 9333 found, currently at row position 6200.
200 rows returned from 9333 found, currently at row position 6400.
200 rows returned from 9333 found, currently at row position 6600.
200 rows returned from 9333 found, currently at row position 6800.
200 rows returned from 9333 found, currently at row position 7000.
200 rows returned from 9333 found, currently at row position 7200.
200 rows returned from 9333 found, currently at row position 7400.
200 rows returned from 9333 found, currently at row position 7600.
200 rows returned from 9333 found, currently at row position 7800.
200 rows returned from 9333 found, currently at row position 8000.
200 rows returned from 9333 found, currently at row position 8200.
200 rows returned from 9333 found, currently at row position 8400.
200 rows returned from 9333 found, currently at row position 8600.
200 rows returned from 9333 found, currently at row position 8800.
200 rows returned from 9333 found, currently at row position 9000.
200 rows returned from 9333 found, currently at row position 9200.
133 rows returned from 9333 found, currently at row position 9333.
0 rows returned from 9333 found, currently at row position 9333.

In [5]:
houses_for_sale.to_csv('forSale.csv', index=False)

In [3]:
houses_for_sale = pd.read_csv('forSale.csv')

In [7]:
houses_sold = pd.read_csv('kc_house_data.csv').drop(['id', 'date', 'yr_renovated', 'zipcode', 'sqft_living15', 'sqft_lot15'], axis=1)
houses_sold.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,lat,long
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,47.5112,-122.257
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,47.7210,-122.319
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,47.7379,-122.233
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,47.5208,-122.393
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,47.6168,-122.045

In [6]:
CLIENT_ID = 'EFRCH3WCWDQ3DBHURMC0TGZIRF1AD5X5NPW5DCCEXT1KXPXW' # your Foursquare ID
CLIENT_SECRET = 'WQ4RQAI010LS3XXNR0E0TZNT0M10IM43OQMAWU5LYSWBTP20' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

In [ ]:
def getNearbyVenues(latitudes, longitudes, radius=500):
    venues_list=[]
    for lat, lng in zip(latitudes, longitudes):
        try:
            url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
                CLIENT_ID, 
                CLIENT_SECRET, 
                VERSION, 
                lat, 
                lng, 
                radius, 
                100)
            results = requests.get(url).json()["response"]['groups'][0]['items']
            venues_list.append([(
                lat, 
                lng, 
                v['venue']['name'], 
                v['venue']['location']['lat'], 
                v['venue']['location']['lng'],  
                v['venue']['categories'][0]) for v in results])
            nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
            nearby_venues.columns = [ 
                      'Neighborhood Latitude', 
                      'Neighborhood Longitude', 
                      'Venue', 
                      'Venue Latitude', 
                      'Venue Longitude', 
                      'Venue Category']
        except:
            pass
    return(nearby_venues)

venues = getNearbyVenues(houses_sold['lat'], houses_sold['long'])

In [50]:
houses_for_sale['baths_half'].fillna(0, inplace=True)
houses_for_sale['baths_full'].fillna(0, inplace=True)
houses_for_sale['bathrooms'] = houses_for_sale['baths_full'] + (houses_for_sale['baths_half'] / 2)
houses_formatted = houses_for_sale[['bathrooms', 'beds', 'lat', 'lon', 'lot_size', 'price_raw', 'sqft_raw']].rename(columns={'beds': 'bedrooms', 'lat': 'latitude', 'lon': 'longitude', 'lot_size': 'sqft_lot', 'sqft_raw': 'sqft', 'price_raw': 'price'})
sales_formatted = houses_sold.drop(['floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built'], axis=1).rename(columns={'sqft_living': 'sqft', 'lat': 'latitude', 'long': 'longitude'})
houses_formatted['']

In [53]:
houses_formatted.dtypes

bathrooms    float64
bedrooms       int64
latitude     float64
lon          float64
sqft_lot      object
price          int64
sqft         float64
dtype: object

In [54]:
sales_formatted.dtypes

price        float64
bedrooms       int64
bathrooms    float64
sqft           int64
sqft_lot       int64
latitude     float64
longitude    float64
dtype: object

In [51]:
houses_formatted.head(3)

   bathrooms  bedrooms   latitude         lon         sqft_lot   price    sqft
0        1.0         2  47.730611 -122.172379              NaN  285000   930.0
1        1.0         2  47.358163 -122.318999       0.33 acres  428500  1980.0
2        0.0         0  47.227680 -122.440260  7,588 sq ft lot  749900  3500.0

In [52]:
sales_formatted.head(3)

      price  bedrooms  bathrooms  sqft  sqft_lot  latitude  longitude
0  221900.0         3       1.00  1180      5650   47.5112   -122.257
1  538000.0         3       2.25  2570      7242   47.7210   -122.319
2  180000.0         2       1.00   770     10000   47.7379   -122.233

### Methodology

### Analysis

### Results and Discussion

### Conclusion